@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

body {
  width: 100%;
  background-size: contain;
  font-family: "jet-brains-mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
