@import "tailwindcss";

@font-face {
  font-family: "jet-brains-mono";
  src: url("/fonts/jet-brains-mono/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

body {
  width: 100%;
  background-image: url("/matrix.svg");
  background-size: contain;
  font-family: "jet-brains-mono", monospace;
}
